:root {
  --duration: 400ms;
  --success: 12 78 12;
  --included: 159 159 5;
  --warning: var(--included);
  --background: 5 5 5;
  --white: 250 250 250;
  --grid-size: 2.5rem;
  --grid-gap: 0.15rem;
  --keyboard-height: 10rem;
  --key: 150 150 150;
  --key-width: 1.5rem;
  --key-state-delay: 300ms;
  --border: 60 60 60;
  --border-active: 80 80 80;
}

@media (min-width: 375px) {
  :root {
    --grid-gap: 0.25rem;
    --key-width: 2rem;
  }
}

html,
body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  text-align: center;
  background: rgb(var(--background));
  font-size: 16px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  padding-bottom: calc(var(--keyboard-height) + 1rem);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  color: rgb(var(--white));
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  background: rgb(var(--background));
  z-index: 10;
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, var(--grid-size));
  grid-template-rows: auto;
  gap: var(--grid-gap);
  margin-top: var(--grid-gap);
}

.grid-disabled {
  .grid-element-input {
    pointer-events: none;
  }
}

.grid-element {
  position: relative;
  height: var(--grid-size);
  width: var(--grid-size);
  perspective: 1000px;
  transform-origin: center;
}

.grid-element-input {
  appearance: none;
  font-family: inherit;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  border: 1px solid rgb(var(--border));
  border-radius: 0;
  text-transform: uppercase;
  text-align: center;
  color: rgba(var(--white) / 0.1);
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 0;
  letter-spacing: 0;
  // vertical-align: baseline;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: var(--grid-size);
  height: var(--grid-size);
  box-sizing: border-box;
  z-index: 100;
  caret-color: transparent;
  transition: color 200ms 50ms ease-out, border-color 200ms 50ms ease-out;

  &-animation {
    animation: input 100ms 1;
    border-color: rgb(var(--border-active));
    color: rgba(var(--white) / 1);
  }
}

.grid-element-animation {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 0;
  transition: background-color ease-out var(--duration),
    transform ease-out var(--duration);
  background: rgba(0 0 0 / 0);
  transform: rotateX(90deg) scale(0.5);
}

.correct {
  .grid-element-animation {
    background-color: rgba(var(--success) / 0.95);
    transform: rotateX(180deg) scale(1);
  }
}

.included {
  .grid-element-animation {
    background-color: rgba(var(--included) / 0.95);
    transform: rotateX(180deg) scale(1);
  }
}

.not-included {
  .grid-element-animation {
    background-color: rgba(255, 255, 255, 0.3);
    transform: rotateX(180deg) scale(1);
  }
}

.snack {
  position: fixed;
  bottom: 50%;
  left: 50%;
  padding: 1.5rem 1rem;
  // text-transform: uppercase;
  background: rgba(var(--warning) / 0.9);
  color: white;
  transform: scale(0);
  font-weight: 500;
  line-height: 1.25;
  white-space: nowrap;
  max-width: 75rem;
  min-width: 70vw;

  &-success {
    white-space: normal;
    background: rgba(var(--success) / 0.95);
  }

  &-info {
    white-space: normal;
    background: rgba(var(--white) / 0.95);
    color: rgb(var(--background));
  }
}

.keyboard {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: var(--keyboard-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--background));
  // margin: auto;

  &-disabled {
    pointer-events: none;
  }

  @media (pointer: fine) {
    pointer-events: none;
  }

  &-row {
    display: flex;
    margin: var(--grid-gap) 0;
  }

  &-key {
    touch-action: manipulation;
    min-width: var(--key-width);
    height: 2.5rem;
    border-radius: 0.25rem;
    border: 0;
    padding: 0 0.25rem;
    box-shadow: none;
    outline: none;
    background-color: rgba(var(--key) / 1);
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    color: rgb(var(--white));
    margin-left: var(--grid-gap);
    margin-right: var(--grid-gap);
    transition: background-color 300ms var(--key-state-delay) ease-in-out,
      transform 80ms var(--key-state-delay) ease-out,
      color 300ms var(--key-state-delay) ease-out;
    transform: scale(1);

    &:active {
      transform: scale(1.2);
    }

    &.correct {
      background-color: rgba(var(--success) / 1);
      color: rgb(var(--white));
    }

    &.included {
      background-color: rgba(var(--included) / 1);
    }

    &.not-included {
      background-color: rgba(255, 255, 255, 0.3);
      color: rgb(var(--white));
    }
  }
}

/* ANIMATIONS */
@keyframes input {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.01);
  }
  20% {
    transform: scale(1.05);
  }
  30% {
    transform: scale(1.08);
  }
  40% {
    transform: scale(1.12);
  }
  50% {
    transform: scale(1.16);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes nope {
  0% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-12deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

/* UTILITIES */
.col-span-2 {
  grid-column: span 2;
}
